.landing-page {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.welcome-header {
  
}

.landing-page-container {
  background-image: url("./assets/jazz.jpg");
  background-size: 100%;
  min-height: 100vh;
  background-repeat: repeat-y, repeat-x;
}

.menu-item-img {
  max-height: 150px;
  max-width: 150px;
}

.big-gyro-img {
  height: 300px;
  width: 300px;
}

.menu-item-container {
  flex-direction: column;
  display: flex;
  margin: 20px;
  padding: 20px;
}

.Menu {
  text-align: center;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-bar-interior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-bar-button:hover {
  cursor: pointer;
}

.HeaderBar {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.modal-header {
  text-align: center;
}

.modal-content {
  text-align: center;
}

.cart-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.location-card-container {
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: white;
}

.location-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: center;
}

.location-point {
  color: white;
  background: grey;
  padding: 15px 10px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.cart-icon-container {
  display: flex;
  flex-direction: row;
}